[submodule "lib/chin-tools"]
	path = lib/chin-tools
	url = https://github.com/wzhchin/chin-tools
[submodule "lib/mind-elixir-core"]
	path = lib/mind-elixir-core
	url = https://github.com/wzhchin/mind-elixir-core.git
