@import "tailwindcss";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@variant dark (&:where(.dark, .dark *));

/* https://github.com/uiwjs/react-markdown-preview/issues/200#issuecomment-1235548530 */
@layer base {
  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }
}

/* active */
/* kbg */
/* inactive*/
/* muted */
:root {
  --c-kbg: #fafafa;
  --c-kfg: #282828;
  --c-kbdr: #d4d4d4;

  --c-active: #ffffff;
  --c-active-fg: #101010;
  --c-active-bdr: #a0a0a0;

  --c-inactive: #faf9f7;
  --c-inactive-fg: #303030;
  --c-inactive-bdr: #a0a0a0;

  --c-muted: #e0e0e0;
  --c-muted-fg: #404040;
  --c-muted-bdr: #a0a0a0;

  --c-accent: #e0e0f8;
  --c-accent-fg: #000;
  --c-accent-bdr: #d0d0d0;

  --c-editor: #fff;
  --cborder: #d4d4d4;
  --input: hsl(20 5.9% 90%);
  --ring: hsl(20 14.3% 4.1%);
  --radius: 0.5rem;
}

@theme {
  --color-kbg: var(--c-kbg);
  --color-kfg: var(--c-kfg);
  --color-kbdr: var(--c-kbdr);

  --color-active: var(--c-active);
  --color-active-fg: var(--c-active-fg);
  --color-active-bdr: var(--c-active-bdr);

  --color-inactive: var(--c-inactive);
  --color-inactive-fg: var(--c-inactive-fg);
  --color-inactive-bdr: var(--c-inactive-bdr);

  --color-accent: var(--c-accent);
  --color-accent-fg: var(--c-accent-fg);
  --color-accent-bdr: var(--c-accent-bdr);

  --color-muted: var(--c-muted);
  --color-muted-fg: var(--c-muted-fg);
  --color-muted-bdr: var(--c-muted-bdr);

  --color-editor: var(--c-editor);

  --color-cborder: var(--cborder);
  --color-cbutton: var(--cbutton);
  --color-input: var(--input);
  --color-ring: var(--ring);
}

@layer utilities {
  .wmde-markdown {
    background-color: transparent !important;
  }
}

@utility kbutton-muted {
  @apply border border-transparent rounded-xl cursor-pointer;
}

@utility kbutton {
  @apply border border-cborder rounded-xl cursor-pointer;
}

@utility kbutton-focused {
  @apply border border-cborder rounded-xl bg-accent text-accent-fg cursor-pointer;
}

@utility kc-basic {
  @apply bg-kbg text-kfg;
}

@utility kc-basic-with-bdr {
  @apply bg-kbg text-kfg border-kbdr;
}

@utility kc-active {
  @apply bg-active text-active-fg border-active-bdr;
}

@utility kc-inactive {
  @apply bg-inactive text-inactive-fg border-inactive-bdr;
}

@utility kc-muted {
  @apply bg-muted text-muted-fg border-muted-bdr;
}

@utility kc-accent {
  @apply bg-accent text-accent-fg border-accent-bdr;
}

@utility kbut {
  @apply border border-transparent rounded-xl cursor-pointer;
}
